html {
    background: url('../canvas-dark.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

body {
  display: flex;
  min-width: 100%;
  min-height: 110vh;
  flex-direction: column;
  overflow: scroll;
}

main {
     flex: 1 0 auto;
     margin: 0 auto;
     top: 0;
     left: 0;
     width: 100vw;
     height: inherit;
     /*background: url('../canvas-dark.png') no-repeat center center;
     background-size: cover;
     -webkit-background-size: cover;
	   -moz-background-size: cover;
	   -o-background-size: cover;
     background-attachment: fixed;*/
}

#blah {
  margin-top: 0;
}

nav .brand-logo {
   color: #fbc02d;
   padding-left: 10px;
   font-size: 1.4rem;
}

#masthead {
  position: relative;
  height: inherit;
  top: 0;
  left: 0;
}
#masthead-logo {
  position: absolute;
  top: 30px;
  left: 70px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

nav ul a {
  color: #212121;
}

nav {
  background: #212121;
  box-shadow: none;
}

.footer-container {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5px;
}

.side-nav a {
  color: white;
}

.display-card {
  background: white;
  border-radius: 5px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: inherit;
}

#masthead {
  font-size: 30vh;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*text-shadow: 0 0 45px black;*/
  opacity: 0.95;
  color: #212121;
}

nav .brand-logo {
  font-size: 1.1rem;
}

@media (min-width: 100px) {
  #masthead {
    font-size: 10vh;
  }
}

@media (min-width: 500px) {
  #masthead {
    font-size: 30vh;
  }
  nav .brand-logo {
    font-size: 1.4rem;
  }
}
