html, body {
  height: 100%;
  width: 100%;
  background: #eee;
}

#masthead {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

h1, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: #333;
}

h3 {
  font-size: 1.2rem;
  color: #555;
}
