body {
  display: flex;
  min-height: 110vh;
  flex-direction: column;
}

main {
     flex: 1 0 auto;
     margin: 0 auto;
     position: relative;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: url('../canvas-dark.png') no-repeat center center;
     background-size:cover;
}

#blah {
  margin-top: 0;
}

nav .brand-logo {
   color: #fbc02d;
   padding-left: 10px;
   font-size: 1.7rem;
   font-family: 'Crimson Text', serif;
   margin-right: 10px;
}

#masthead {
  position: relative;
  height: inherit;
  top: 0;
  left: 0;
}
#masthead-logo {
  position: absolute;
  top: 30px;
  left: 70px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/

nav ul a {
  color: #212121;
}

nav {
  background: #212121;
  min-width: 500px;
}

.footer-container {
  vertical-align: middle;
  text-align: center;
  padding-bottom: 5px;
}

.side-nav a {
  color: white;
}
