      <footer id="blah" class="page-footer grey darken-3">
        <div class="footer-container grey darken-4">
          <div class="container">
            <div class="footer-copyright grey darken-4">
              <div class="container">
              <p>© 2011 Purdue Science Student Council | <a href="http://www.purdue.edu">Purdue University</a></p>
              </div>
            </div>
          </div>
      </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
      <script src="script.js"></script>
  </body>
</html>
