@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

:root {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-container {
    background: $bg-color;
    width: 100vw;
    min-height: 100vh;
}