.masthead {
    width: 100vw;
    height: 80vh;
    position: relative;
    
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;

    &-bg, &-title {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        
        justify-self: center;
        align-self: center;

        position: absolute;
    }

    &-bg {
        height: 300px;
        width: 300px;
        z-index: 1;
        opacity: 0.9;

        background-image: url('../../images/masthead-bg.jpg');
        background-size: cover; 

        -webkit-box-shadow: inset 0px 0px 3px 3px $bg-color;
        -moz-box-shadow: inset 0px 0px 3px 3px $bg-color;
        box-shadow: inset 0px 0px 3px 3px $bg-color;
    }

    &-title {
        color: $accent-color;;
        text-align: center;
        z-index: 2;
        font-size: 7rem;
        font-weight: 700;

        mix-blend-mode: multiply;
    }
}